<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380123036871-8gq7oj09pbi89fgbnacpea4r6hmhv8l4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380123036871-8gq7oj09pbi89fgbnacpea4r6hmhv8l4</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Mc02BlFMizuXj2oggIUxUtZDZxNtY0c</string>
	<key>GCM_SENDER_ID</key>
	<string>380123036871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.filmwhere.movieWanderer</string>
	<key>PROJECT_ID</key>
	<string>filmwhere-f6485</string>
	<key>STORAGE_BUCKET</key>
	<string>filmwhere-f6485.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380123036871:ios:669b010f1accd773</string>
	<key>DATABASE_URL</key>
	<string>https://filmwhere-f6485.firebaseio.com</string>
</dict>
</plist>